<div id="wrap">
	<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Freelance Manager</a>
			</div>
			<div class="navbar-collapse collapse"
				 data-ng-include="'/modules/core/views/navigation.client.view.html'">
			</div>
		</div>
	</div>

	<div class="container">
		
		<ul class="nav  nav-tabs">
			<!-- TODO render menu -->
		</ul>
	</div>
</div>	

<footer>
	<div class="container">
		
	</div>
</footer>

