<div class="logo hidden-menu-collapsed">
	<a data-ui-sref="app.dashboard"><span>Flat Theme</span></a>
</div>
<div class="logo visible-menu-collapsed">
	<a data-ui-sref="app.dashboard"><span>FT</span></a>
</div>					

<div class="content">
	<ul class="actions">
		<li><a href="#" data-ng-click="app.layout.isCollapsed = !app.layout.isCollapsed"><i class="fa fa-bars"></i></a></li>
		<li><a href="#" data-ui-sref="login"><i class="icon-lock"></i></a></li>
		<li><a href="#" data-ui-sref="app.account"><i class="icon-user"></i></a></li>
	</ul>
</div>
