@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

body, html {
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.stretch-viewport {
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.3;
}

/*
*
* VALIDATION
*
*/

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*
*
* TOOLS
*
*/

.hideOverflow
{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    display:block;
}

.hide-last:last-child{
    display: none !important;
}

/*
*
* BOOTSTRAP
*
*/

.panel {
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-group{
    margin-top: 30px;
    margin-bottom: 30px;
}

.bootstrap-select .btn{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.bootstrap-select .btn:hover{
    background: white;
}
.bootstrap-select .btn:focus{
    border-color: rgb(102, 175, 233);
    outline: none !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
    background: white;
}

/* OVERRIDES */

.btn { border-radius: 0; }
.list-group-item:first-child { border-radius: 0; }
.list-group-item:last-child { border-radius: 0; }
.modal-content { border-radius: 0; }
.form-control { border-radius: 0; }
.dropdown-menu { border-radius: 0; }
.panel { border-radius: 0; }
.well { border-radius: 0; }
.nav-tabs > li > a { border-radius: 0; }
.input-group-addon { border-radius: 0px; }

/*
*
* FM-SPINNER
*
*/

.fm-spinner {
    height: 25px;
    width: 25px;
    margin: 0 10px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 4px solid rgba(0,174,239,.15);
    border-right: 4px solid rgba(0,174,239,.15);
    border-bottom: 4px solid rgba(0,174,239,.15);
    border-top: 4px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}·
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/*
*
* FM-LIST
*
*/

.fm-list .list-group{
    margin-bottom: 50px;
    margin-top: 10px;
}

.fm-list hr{
    margin-top: 8px;
}

/*
*
* FM-PAGEACTIONS
*
*/

.fm-page-actions {
    position: relative;
    display: inline-block;
    margin-top: -1px;
}
.fm-page-actions .form-control{
    float: left;
    padding: 0px 12px;
    height: 24px;
    display: inline-block;
    border-left-width: 0px;
}
.fm-page-actions .btn{
    float:left;
    height: 24px;
    border-left-width: 0px;
}
.fm-page-actions > :first-child {
    border-left-width: 1px;
}