.fm-welcome-title{
    margin-bottom: 30px;
}

.fm-tile{
    position: relative; width: 100%; height: 0; padding-bottom: 100%; display:block;
}

.fm-tile.time{
    background: url('/modules/core/images/Clock.png') no-repeat #fff;
    background-size: cover;
}

.fm-tile.task{
    background: url('/modules/core/images/Tasks.png') no-repeat #fff;
    background-size: cover;
}

.fm-tile.contacts{
    background: url('/modules/core/images/Contacts.png') no-repeat #fff;
    background-size: cover;
}

.fm-tile.config{
    background: url('/modules/core/images/Configure.png') no-repeat #fff;
    background-size: cover;
}