<h3>
	<button class="btn btn-primary pull-right" data-ng-click="export()">
		<em class="fa fa-download fa-fw mr-sm"></em>Export
	</button>
	Export
	<small>Export time registrations</small>
</h3>

<div class="fm-time-export" data-ng-init="refresh()">

	<div class="btn-group pull-right">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="fa fa-cog"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
			<li><a href="/#!/app/time/export/{{ thisWeek }}">This Week</a></li>
			<li><a href="/#!/app/time/export/{{ lastWeek }}">Last Week</a></li>
			<li><a href="/#!/app/time/export/{{ thisMonth }}">This Month</a></li>
			<li><a href="/#!/app/time/export/{{ lastMonth }}">Last Month</a></li>
			<li><a href="/#!/app/time/export/{{ thisYear }}">This Year</a></li>
			<li><a href="/#!/app/time/export/{{ lastYear }}">Last Year</a></li>
		</ul>	
	</div>

	<div class="btn-group">
		<input type="text" class="form-control date-selector" style="width: 100px;" data-ng-model="displayFrom" 
			   data-fm-datepicker data-fm-datepicker-format="yyyy-mm-dd" data-fm-datepicker-datechanged="changeFrom(date, 'YYYY-MM-DD')"
			   data-fm-datepicker-h-position="left" />
		<input type="text" class="form-control date-selector" style="width: 100px;" data-ng-model="displayTo" 
			   data-fm-datepicker data-fm-datepicker-format="yyyy-mm-dd" data-fm-datepicker-datechanged="changeTo(date, 'YYYY-MM-DD')"
			   data-fm-datepicker-h-position="left" />
		<button type="button" class="btn btn-default" data-ng-click="applyDate()"><span class="fa fa-search"></span></button>
	</div>

	<div class="mb-xl"></div>

	<div class="panel panel-default panel-margin" data-ng-show="loading">
		<div class="panel-body text-center">
			<div class="fm-wait-panel whirl traditional"></div>
			<div class="clearfix"></div>
			Loading...
		</div>
	</div>

	<div class="panel panel-default panel-margin" data-ng-hide="hasTimeRegistrations || loading">
		<div class="panel-body text-center">
			No hours registered for this period
		</div>
	</div>

	<div class="result">
		<div class="panel panel-default" data-ng-repeat="timeRegistration in timeRegistrations">
			<!-- Default panel contents -->
			<div class="panel-heading">{{ timeRegistration.date | formatdate }}</div>

			<!-- List group -->
			<ul class="list-group">
				<li class="list-group-item" data-ng-repeat="item in timeRegistration.items">
					<div class="row">
						<div class="col-xs-8">
							<strong class="hideOverflow">{{ item.company.name }} - {{ item.project.name }}</strong>
							<span class="hideOverflow">{{ item.task }} - {{ item.description }}</span>
						</div>
						<div class="col-xs-2 pull-right">
							<div class="pull-right">
								<span class="hideOverflow">{{ item.from | formattime }} - {{ item.to | formattime }}</span>
							</div>
							<div class="clearfix"></div>
							<div class="pull-right">
								<strong>{{ item.totalMinutes | formattime }}</strong>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>	


</div>