<section data-ng-controller="RegistrationsController" data-ng-init="refresh()">

	<div class="fm-page-actions pull-right">

		<button type="button" class="btn btn-default btn-xs" data-ng-click="previousDate()"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<input type="text" class="form-control date-selector" style="width: 100px;" data-ng-model="displayDate" 
			   data-fm-datepicker data-fm-datepicker-format="yyyy-mm-dd" data-fm-datepicker-datechanged="changeDate(date, 'YYYY-MM-DD')" />
		<button type="button" class="btn btn-default btn-xs" data-ng-click="nextDate()"><span class="glyphicon glyphicon-chevron-right"></span></button>

		<div class="btn-group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li><a href="/timeregistration/import">Import</a></li>
			</ul>
		</div>
	</div>

	<div class="clearfix"></div>

	<h1 class="text-center">{{ date | moment: 'DD MMMM YYYY' }}</h1>

	<div class="panel panel-default panel-margin" data-ng-hide="hasTimeRegistrations">
		<div class="panel-body text-center">
			No items
		</div>
	</div>

	<div class="fm-timeregistrations list-group">
		<div class="list-group-item" data-ng-click="openTimeRegistration(timeRegistration)"
								     data-ng-repeat="timeRegistration in timeRegistrations">
			<div class="row">
				<div class="col-xs-2">
					<strong>{{ timeRegistration.from | formattime }}</strong><br />
					<strong>{{ timeRegistration.to | formattime }}</strong>
				</div>
				<div class="col-xs-8">
					<strong class="hideOverflow">{{ timeRegistration.company.name }} - {{ timeRegistration.project.name }}</strong>
					<span class="hideOverflow">{{ timeRegistration.task }} - {{ timeRegistration.description }}</span>
				</div>
				<div class="col-xs-2">
					<span data-bind="moment: timespan, pattern: 'HH:mm'">&nbsp;</span>
				</div>
			</div>
		</div>
	</div>

	<button id="add-timeregistration" type="button" class="btn btn-primary pull-right" data-ng-click="openTimeRegistration()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>

</section>
