<section data-ng-controller="RegistrationsController">

	<div class="fm-page-actions pull-right">

		<button type="button" class="btn btn-default btn-xs" data-ng-click="previousDate()"><span class="glyphicon glyphicon-chevron-left"></span></button>
		<input type="text" class="form-control date-selector" style="width: 100px;" data-ng-model="displayDate" 
			   data-fm-datepicker data-fm-datepicker-format="yyyy-mm-dd" data-fm-datepicker-datechanged="changeDate(date, 'YYYY-MM-DD')" />
		<button type="button" class="btn btn-default btn-xs" data-ng-click="nextDate()"><span class="glyphicon glyphicon-chevron-right"></span></button>

		<div class="btn-group">
			<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-right" role="menu">
				<li><a href="/timeregistration/import">Import</a></li>
			</ul>
		</div>
	</div>

	<div class="clearfix"></div>

	<div ui-view></div>	

</section>
