<div class="content-header">
	<h1><i class="icon-clock"></i>Time registration report</h1>
</div>

<div class="fm-time-report" data-ng-init="refresh()">
	<button class="btn btn-default pull-left btn-accentuate" data-ng-click="previous()"><span class="fa fa-chevron-left"></span></button>
	<div class="btn-group pull-right btn-group-accentuate">
		<button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="fa fa-cog"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
			<li><a data-ui-sref="app.time_report({ from: weekStart, to: weekEnd })">Week</a></li>
			<li><a data-ui-sref="app.time_report({ from: monthStart, to: monthEnd })">Month</a></li>
			<li><a data-ui-sref="app.time_report({ from: yearStart, to: yearEnd })">Year</a></li>
		</ul>
		<button class="btn btn-default" data-ng-click="next()"><span class="fa fa-chevron-right"></span></button>
	</div>
	<div class="clearfix visible-xs">&nbsp;</div>
	<h1 class="text-center">{{ title }}</h1>

	<div class="panel panel-default mt-xl" data-ng-show="loading">
		<div class="panel-body text-center">
			<div class="fm-wait-panel"></div>
			<div class="clearfix"></div>
			Loading...
		</div>
	</div>

	<div class="panel panel-default mt-xl" data-ng-show="!loading && !hasHours">
		<div class="panel-body text-center">
			No hours registered for this period
		</div>
	</div>

	<div class="row mt-xl" style="height: 220px;" data-ng-show="!loading && hasHours">
		
		<div class="col-xs-12 col-sm-4">
			<piechart style="width: 100%;height: 200px;" data-ng-model="billableUnbillableGraph"></piechart>
		</div>

		<div class="col-sm-4 hidden-xs">
			<h3>Time</h3>
			<strong>Billable:</strong> {{ summary.billableMinutes | formattime }} Hour(s)<br />	
			<strong>Unbillable:</strong> {{ summary.unBillableMinutes | formattime }} Hour(s)
		</div>

		<div class="col-xs-12 visible-xs mb-lg">
			<h3 class="text-center">Total</h3>
			<div class="row">
				<div class="col-xs-6"><strong>Billable: </strong> {{ summary.unBillableMinutes | formattime }}</div>
				<div class="col-xs-6"><strong>Unbillable: </strong> {{ summary.billableMinutes | formattime }}</span></div>
			</div>
		</div>

	</div>

	<div class="clearfix"></div>

	<div data-ng-show="!loading && hasHours">
		<div class="panel panel-default fm-time-infoperproject" data-ng-repeat="info in infoPerProject">
			<div class="panel-heading text-center"><h4>{{ info.company.name }} - {{ info.project.name }}</h4></div>
			<div class="panel-body">
				<div class="row" data-ng-repeat="taskSummary in info.tasks">
					<div class="col-xs-12 text-center visible-xs">
						<p>{{ taskSummary.task }}</p>
					</div>
					<div class="col-sm-4 hidden-xs">
						{{ taskSummary.task }}
					</div>
					<div class="clearfix visible-xs"></div>
					<div class="col-xs-6 col-sm-4"><strong>Billable: </strong>{{ taskSummary.billableMinutes | formattime }} <span class="hidden-xs">Hour(s)</span></div>
					<div class="col-xs-6 col-sm-4"><strong>Unbillable: </strong>{{ taskSummary.unBillableMinutes | formattime }} <span class="hidden-xs">Hour(s)</span></div>
				</div>
			</div>
		</div>
	</div>

</div>