<form role="form" name="timeRegistrationForm" novalidate >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
			<h4 class="modal-title">{{ newTimeRegistration ? 'Create a new time registration' : 'Update a time registration' }}</h4>
		</div>
		<div class="modal-body">
		
			<div class="row">
				<div class="col-xs-12 col-md-4" ng-show="projectEditable">
					<ft-form-group ft-floating-label fm-add-error-for="timeRegistrationForm.company">
						<select class="form-control chosen-select"  chosen="" data-placeholder=" "
								name="company" ng-model="timeRegistration.company" ng-options="c.name for c in companies"
								required ng-required width="'100%'" disable-search="true">
						</select>
						<label>Company</label>
					</ft-form-group>
				</div>

				<div class="col-xs-12 col-md-4" ng-show="projectEditable">
					<ft-form-group ft-floating-label fm-add-error-for="timeRegistrationForm.project">
						<select class="form-control chosen-select"  chosen="" data-placeholder=" "
								 name="project"ng-model="timeRegistration.project" ng-options="p.name for p in timeRegistration.company.projects"
								required ng-required width="'100%'" disable-search="true">
						</select>
						<label>Project</label>
					</ft-form-group>	
				</div>

				<div class="col-xs-12 col-md-4" ng-show="projectEditable">					
					<ft-form-group ft-floating-label fm-add-error-for="timeRegistrationForm.task">
						<select class="form-control chosen-select"  chosen="" data-placeholder=" "
								name="task" ng-model="timeRegistration.task" ng-options="t.name for t in timeRegistration.project.tasks"
								required ng-required width="'100%'" disable-search="true">
						</select>
						<label>Task</label>
					</ft-form-group>	
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-4" ng-show="!projectEditable">
					<ft-form-group ft-floating-label>
						<label>Company</label>
						<input type="text" class="form-control" ng-model="originalTimeRegistration.company.name" disabled="disabled"></select>
					</ft-form-group>
				</div>

				<div class="col-xs-12 col-md-4" ng-show="!projectEditable">
					<ft-form-group ft-floating-label>
						<label>Project</label>
						<input type="text" class="form-control" ng-model="originalTimeRegistration.project.name" disabled="disabled"></select>
					</ft-form-group>
				</div>

				<div class="col-xs-12 col-md-4" ng-show="!projectEditable">					
					<ft-form-group ft-floating-label>
						<label>Task</label>
						<input type="text" class="form-control" ng-model="originalTimeRegistration.task" disabled="disabled"></select>
					</ft-form-group>
				</div>
			</div>

			<ft-form-group ft-floating-label fm-add-error-for="timeRegistrationForm.description">
				<label>Description</label>
				<input type="text" name="description" class="form-control" ng-model="timeRegistration.description" required autofocus>
			</ft-form-group>

			<div class="row">

				<div class="col-xs-6">
					<ft-form-group ft-floating-label fm-add-error-for="timeRegistrationForm.from">
						<div class="input-group clockpicker" placement="bottom" align="top" autoclose="true" fm-clockpicker>
							<input type="text" name="from" class="form-control" ng-model="timeRegistration.from" required>
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label>From</label>
					</ft-form-group>
				</div>

				<div class="col-xs-6">
					<ft-form-group ft-floating-label fm-add-error-for="timeRegistrationForm.to">
						<div class="input-group clockpicker" placement="bottom" align="top" autoclose="true" fm-clockpicker>
							<input name="to" type="text" class="form-control" ng-model="timeRegistration.to" required>
							<span class="input-group-addon">
								<span class="fa fa-clock-o"></span>
							</span>
						</div>
						<label>To</label>
					</ft-form-group>
				</div>
			</div>	
			
			<div class="checkbox">
				<label>
					<input type="checkbox" ng-model="timeRegistration.billable"> Billable
				</label>
			</div>		
		</div>		
		<div class="modal-footer">
			<div class="pull-left" ng-show="!newTimeRegistration">
				<button type="button" class="btn btn-default" ng-click="delete()">Delete</button>
			</div>		
			<div class="pull-left mt-sm ml-lg" ng-show="isBusy">
				<i class="fm-spinner"></i><span>{{ message }}</span>
			</div>
			<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
			<button type="submit" class="btn btn-primary" ng-disabled="timeRegistrationForm.$invalid" ng-click="ok()">{{ newTimeRegistration ? 'Create' : 'Update' }}</button>
		</div>
	</div>
</form>
