<form role="form" name="timeRegistrationForm" novalidate >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Time Registration</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<div class="form-group" ng-class="{ 'has-error' : timeRegistrationForm.company.$invalid && !timeRegistrationForm.company.$pristine }">
						<label>Company</label>
						<select class="form-control" name="company" ng-model="timeRegistration.company" ng-options="c.name for c in companies" required></select>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="form-group" ng-class="{ 'has-error' : timeRegistrationForm.project.$invalid && !timeRegistrationForm.project.$pristine }">
						<label>Project</label>
						<select class="form-control" name="project" ng-model="timeRegistration.project" ng-options="p.name for p in timeRegistration.company.projects" required></select>
					</div>	
				</div>
				<div class="col-xs-12 col-md-4">					
					<div class="form-group" ng-class="{ 'has-error' : timeRegistrationForm.task.$invalid && !timeRegistrationForm.task.$pristine }">
						<label>Task</label>
						<select class="form-control" name="task" ng-model="timeRegistration.task" ng-options="t.name for t in timeRegistration.project.tasks" required></select>
					</div>	
				</div>
			</div>		
			<div class="form-group" ng-class="{ 'has-error' : timeRegistrationForm.description.$invalid && !timeRegistrationForm.description.$pristine }">
				<label>Description</label>
				<input type="text" name="description" class="form-control" placeholder="Description" data-ng-model="timeRegistration.description" required autofocus>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group" ng-class="{ 'has-error' : timeRegistrationForm.from.$invalid && !timeRegistrationForm.from.$pristine }">
						<label>From</label>
						<div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true" data-fm-clockpicker>
							<input type="text" name="from" class="form-control" data-ng-model="timeRegistration.from" required>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>	
				</div>
				<div class="col-xs-6">
					<div class="form-group" ng-class="{ 'has-error' : timeRegistrationForm.to.$invalid && !timeRegistrationForm.to.$pristine }">
						<label>To</label>
						<div class="input-group clockpicker" data-placement="bottom" data-align="top" data-autoclose="true" data-fm-clockpicker>
							<input id="abc" name="to" type="text" class="form-control" data-ng-model="timeRegistration.to" required>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>					
				</div>
			</div>		
		</div>		
		<div class="modal-footer">
			<div class="pull-left" data-ng-show="isBusy">
				<i class="fm-spinner"></i><span>{{ message }}</span>
			</div>
			<button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
			<button type="submit" class="btn btn-primary" ng-disabled="timeRegistrationForm.$invalid" data-ng-click="ok()">{{ newTimeRegistration ? 'Save' : 'Update' }}</button>
		</div>
	</div>
</form>