<div id="wrap">
	<header data-ng-include="'/modules/core/views/header.html'">
	</header>
	<div class="container">
		<ul class="nav nav-tabs" data-ng-controller="TimeController">
			<li fm-active-menu-item="time.registrations"><a ui-sref="time.registrations({ date: today.format('YYYYMMDD') })">Registrations</a></li>
			<li fm-active-menu-item="time.overview"><a ui-sref="time.overview({ from: firstOfCurrentMonth.format('YYYYMMDD'), to: lastOfCurrentMonth.format('YYYYMMDD') })">Overview</a></li>
			<li fm-active-menu-item="time.report"><a ui-sref="time.report({ from: firstOfCurrentMonth.format('YYYYMMDD'), to: lastOfCurrentMonth.format('YYYYMMDD') })">Report</a></li>
		</ul>
		<div ui-view></div>
	</div>
</div>	

<footer data-ng-include="'/modules/core/views/footer.html'">
</footer>
