<div class="content-header">
	<h1><i class="icon-user"></i>Account</h1>
	<small>Change your account details or pick a new password</small>
</div>

<div class="row">
	<div class="col-lg-6" ng-controller="AccountInfoController">
		<form role="form" name="accountInfoForm" novalidate="">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Info</div>
				</div>
				<div class="panel-body">

					<ft-form-group ft-floating-label fm-add-error-for="accountInfoForm.name">
						<label>Name</label>
						<input type="text" name="name" class="form-control" 
								ng-model="account.name" required autofocus>
					</ft-form-group>

					<ft-form-group ft-floating-label fm-add-error-for="accountInfoForm.firstName">
						<label>First name</label>
						<input type="text" name="firstName" class="form-control" 
								ng-model="account.firstName" required>
					</ft-form-group>

					<ft-form-group ft-floating-label fm-add-error-for="accountInfoForm.lastName">
						<label>Last name</label>
						<input type="text" name="lastName" class="form-control" 
								ng-model="account.lastName" required>
					</ft-form-group>

					<ft-form-group ft-floating-label fm-add-error-for="accountInfoForm.email">
						<label>Email</label>
						<input type="email" name="email" class="form-control" 
								ng-model="account.email" required parsley-type="email">
					</ft-form-group>
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-left" ng-show="isSaving">
						<i class="fm-spinner"></i>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary" ng-click="save()" 
								ng-disabled="accountInfoForm.$invalid">Save</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="col-lg-6" ng-controller="AccountPasswordController">
		<form role="form" name="accountPasswordForm" novalidate="">	
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Password</div>
				</div>
				<div class="panel-body">

					<div class="alert alert-danger" ng-show="hasError">An error occurred while saving the password.</div>

					<ft-form-group ft-floating-label fm-add-error-for="accountPasswordForm.oldPassword">
						<label>Old password</label>
						<input type="password" name="oldPassword" class="form-control" 
								ng-model="password.old" required>
					</ft-form-group>

					<ft-form-group ft-floating-label fm-add-error-for="accountPasswordForm.newPassword">
						<label>New password</label>
						<input type="password" name="newPassword" class="form-control" 
								ng-model="password.new" required>
					</ft-form-group>

					<ft-form-group ft-floating-label fm-add-error-for="accountPasswordForm.newPasswordConfirm">
						<label>Password confirm</label>
						<input type="password" name="newPasswordConfirm" class="form-control" 
								ng-model="password.confirm" required fm-match="password.new">
					</ft-form-group>
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-left" ng-show="isSaving">
						<i class="fm-spinner"></i>
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary" ng-click="save()" 
								ng-disabled="accountPasswordForm.$invalid">Change</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>