<div class="fm-login width-xl mh-a mt-xl" ng-controller="AuthenticateController">

	<div class="panel panel-primary panel-flat">
		<div class="panel-heading text-center">
			<h3 class="mv-none"><i>Freelance Manager</i></h3>
		</div>
		<div class="panel-body">
			<h4 class="text-center mb-lg">SIGN IN TO CONTINUE</h4>
			<div ng-show="error" class="alert alert-danger text-center mt-lg">{{ error }}</div>
			<form role="form" ng-submit="submit()" name="loginForm" novalidate="" class="mb-lg">

				<ft-form-group ft-floating-label class="has-feedback" fm-add-error-for="loginForm.email">
					<label>Email address</label>
					<input type="email" name="email" class="form-control" 
							ng-model="user.email" required />
					<span class="fa fa-envelope form-control-feedback"></span>
				</ft-form-group>

				<ft-form-group ft-floating-label class="has-feedback" fm-add-error-for="loginForm.password">
					<label>Password</label>
					<input type="password" name="password" class="form-control" 
							ng-model="user.password" required />
					<span class="fa fa-lock form-control-feedback"></span>
				</ft-form-group>

				<button type="submit" class="btn btn-block btn-primary mt-xl"
						ng-disabled="loginForm.$invalid">Login</button>
			</form>
			
		</div>
	</div>

	<div class="pb text-center">
		<span>&copy;</span>
		<span ng-bind="app.year"></span>
		<span>-</span>
		<span ng-bind="app.author"></span>
		<br/>
		<span ng-bind="app.name"></span>
	</div>	
</div>