<div class="content-header">
	<h1><i class="icon-envelope"></i>New invoice</h1>
	<small>Create a new invoice</small>
</div>

<div class="fm-create-invoice" ng-init="init()">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="wizard wizard-horizontal">
				<ol class="row">
					<li ng-class="{'active':active(1)}" class="col-md-3">
						<h4>Time</h4>
						<small class="text-muted hideOverflow">Select time registrations</small>
					</li>
					<li ng-class="{'active':active(2)}" class="col-md-3">
						<h4>Lines</h4>
						<small class="text-muted hideOverflow">Edit the invoice lines</small>
					</li>										
					<li ng-class="{'active':active(3)}" class="col-md-3">
						<h4>Info</h4>
						<small class="text-muted hideOverflow">Add invoice info</small>
					</li>
					<li ng-class="{'active':active(4)}" class="col-md-3">
						<h4>Summary</h4>
						<small class="text-muted hideOverflow">Invoice preview</small>
					</li>					
				</ol>
			</div>

			<div class="ml-xl mr-xl">

				<!-- STEP 1: Time registration selection -->
				<div ng-show="active(1)">

					<div class="mt-xl">
						<div class="row">
							<div class="col-sm-12 mb">
								<ft-form-group ft-floating-label>
									<select class="form-control chosen-select"  chosen=""
										 	ng-model="search.project" ng-options="p.id as (p.company.name + ' - ' + p.name) for p in projects"
										 	width="'100%'" disable-search="true" data-placeholder=" ">
									</select>
									<label>Project</label>
								</ft-form-group>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<ft-form-group ft-floating-label>
									<label>From</label>
									<input type="text" ng-model="search.from" class="form-control"
										fm-datepicker fm-datepicker-format="yyyy-mm-dd" fm-datepicker-h-position="left" />
								</ft-form-group>
							</div>
							<div class="col-sm-3">
								<ft-form-group ft-floating-label>
									<label>To</label>
									<input type="text" ng-model="search.to" class="form-control"
										fm-datepicker fm-datepicker-format="yyyy-mm-dd" fm-datepicker-h-position="left" />
								<ft-form-group ft-floating-label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 mb-xl">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="search.invoiced"> Invoiced
									</label>
								</div>							
							</div>
							<div class="col-sm-3 mb-xl">
								<div class="checkbox">
									<label>
										<input type="checkbox" ng-model="search.billable"> Billable
									</label>
								</div>							
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<button type="button" class="pull-left btn btn-default" ng-click="searchTimeRegistrations()">Search</button>
							</div>
						</div>

					</div>

					<div ng-show="loading">
						<div class="fm-wait-panel mt-xl center" ></div>
					</div>
					<div ng-show="searched && !loading">
						<h3 class="text-center">Select time registrations</h3>
						<div class="alert alert-warning mt-xl" ng-show="timeRegistrations.length == 0">
								Search returned no time registrations
						</div>
						<div class="table-responsive table-bordered mt-xl" ng-show="timeRegistrations.length > 0">
							<table class="table table-hover fm-invoice-searchresult">
								<thead>
									<tr>
										<th check-all="check-all">
											<div toggle="tooltip" title="Check All" class="checkbox">
												<label>
													<input type="checkbox" ng-model="includeAllTimeRegistrations">
												</label>
											</div>
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in timeRegistrations">
										<td>
											<div class="checkbox">
												<label>
													<input type="checkbox" ng-model="item.included">
												</label>
											</div>
										</td>
										<td >
											<div class="row">
												<div class="col-xs-8">
													<strong class="hideOverflow">{{ item.company.name }} - {{ item.project.name }}</strong>
													<span class="hideOverflow">{{ item.task }} - {{ item.description }}</span>
												</div>
												<div class="col-xs-4 pull-right">
													<div class="pull-right">
														<strong>{{ item.date | formatdate }}</strong>
													</div>
													<div class="clearfix"></div>
													<div class="pull-right">
														<span class="hideOverflow">{{ item.from | formattime }} - {{ item.to | formattime }} ({{ item.totalMinutes | formattime }})</span>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>					
					</div>

					<ul class="pager pull-right mt-xl">
						<li><button class="btn btn-default" ng-disabled="!canGoto2()" ng-click="goto2()">Next <span>&rarr;</span></button></li>
					</ul>				

				</div>


				<!-- STEP 2: Invoice lines -->
				<div ng-show="active(2)">

					<div class="row mt-xl visible-lg">
						<div class="col-xs-3">
							<label>Description</label>
						</div>
						<div class="col-xs-2">
							<label>Quantity</label>
						</div>
						<div class="col-xs-2">
							<label>Price</label>
						</div>
						<div class="col-xs-2">
							<label>VAT</label>
						</div>
						<div class="col-xs-2">
							<label>Total (exl)</label>
						</div>
						<div class="col-xs-1"></div>
					</div>
					<div class="row" ng-repeat="item in invoice.lines">
						<div class="col-md-3">
							<label class="hidden-lg">Description</label>
							<textarea type="text" class="form-control fm-edit-invoice-line mb-lg" ng-model="item.description" rows="3" />
						</div>
						<div class="col-md-2">
							<label class="hidden-lg">Quantity</label>
							<input type="text" class="form-control mb-lg" ng-model="item.quantity" />
						</div>
						<div class="col-md-2">
							<label class="hidden-lg">Price</label>
							<input type="text" class="form-control mb-lg" ng-model="item.price" />
						</div>
						<div class="col-md-2">
							<label class="hidden-lg">VAT</label>
							<input type="text" class="form-control mb-lg" ng-model="item.vatPercentage" />
						</div>
						<div class="col-md-2">
							<label class="hidden-lg">Total (exl)</label>
							<input type="text" class="form-control mb-lg" disabled ng-model="item.total" />
						</div>
						<div class="col-md-1">
							<div class="pull-right mb-lg">
								<span ng-click="removeInvoiceLine(item)" ng-show="invoice.lines.length > 1"
									class="fa fa-remove fa-hover"></span>
							</div>
						</div>
						<div class="col-xs-12 hidden-lg">
							<hr />
						</div>
					</div>

					<ul class="pager pull-left">
						<li><button class="btn btn-default" ng-click="addInvoiceLine()">Add Line</button></li>
					</ul>

					<ul class="pager pull-right">
						<li><button class="btn btn-default" ng-click="goto3()">Next <span>&rarr;</span></button></li>
					</ul>				

				</div>

				<!-- STEP 3: Invoice info -->
				<div ng-show="active(3)">

					<h3 class="text-center">Invoice details</h3>
					<div class="row">
						<div class="col-sm-12 mb">
							<ft-form-group ft-floating-label>
								<label>Number</label>
								<input type="text" ng-model="invoice.number" class="form-control" required />
							</ft-form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 mb">
							<ft-form-group ft-floating-label>
								<label>Date</label>
								<input type="text" ng-model="invoice.displayDate" class="form-control" required
									fm-datepicker fm-datepicker-format="yyyy-mm-dd" fm-datepicker-h-position="left" />
							</ft-form-group>
						</div>
						<div class="col-sm-6 mb">
							<ft-form-group ft-floating-label>
								<label>Credit Term</label>
								<input type="text" ng-model="invoice.displayCreditTerm" class="form-control" required 
									fm-datepicker fm-datepicker-format="yyyy-mm-dd" fm-datepicker-h-position="left" />
							</ft-form-group>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-12 mb">
							<ft-form-group ft-floating-label>
								<select class="form-control chosen-select"  chosen=""
									 	ng-model="invoice.templateId" ng-options="t.id as t.name for t in templates"
									 	width="'100%'" disable-search="true" data-placeholder=" ">
								</select>
								<label>Template</label>
							</ft-form-group>
						</div>
					</div>						

					<h3 class="text-center">Customer details <span class="fa fa-search fa-hover pull-right mt-sm" ng-click="searchCustomer()"></span></h3>
					<div class="row">
						<div class="col-sm-6 mb">
							<ft-form-group ft-floating-label>
								<label>Name</label>
								<input type="text" ng-model="invoice.customer.name" class="form-control" required />
							</ft-form-group>
						</div>
						<div class="col-sm-6 mb">
							<ft-form-group ft-floating-label>
								<label>Customer Number</label>
								<input type="text" ng-model="invoice.customer.number" class="form-control" required />
							</ft-form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 mb">
							<ft-form-group ft-floating-label>
								<label>VAT Number</label>
								<input type="text" ng-model="invoice.customer.vatNumber" class="form-control" />
							</ft-form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 mb">
							<ft-form-group ft-floating-label>
								<label>Address Line 1</label>
								<input type="text" ng-model="invoice.customer.address.line1" class="form-control" required />
							</ft-form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 mb">
							<ft-form-group ft-floating-label>
								<label>Address Line 2</label>
								<input type="text" ng-model="invoice.customer.address.line2" class="form-control" />
							</ft-form-group>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 mb">
							<ft-form-group ft-floating-label>
								<label>Postalcode</label>
								<input type="text" ng-model="invoice.customer.address.postalcode" class="form-control" required />
							</ft-form-group>
						</div>
						<div class="col-sm-8 mb">
							<ft-form-group ft-floating-label>
								<label>City</label>
								<input type="text" ng-model="invoice.customer.address.city" class="form-control" required />
							</ft-form-group>
						</div>
					</div>

					<ul class="pager pull-left">
						<li><button class="btn btn-default" ng-click="gobackto2()">Back</button></li>
					</ul>
					<ul class="pager pull-right">
						<li><button class="btn btn-default" ng-click="goto4()">Next <span>&rarr;</span></button></li>
					</ul>				

				</div>				

				<!-- STEP 4: Summary -->
				<div ng-show="active(4)">
					<h3 class="text-center">Invoice Preview</h3>
					<div ng-show="loading">
						<div class="fm-wait-panel mt-xl center" ></div>
					</div>
					<div ng-show="!loading">						
						<div class="fm-invoice-preview embed-responsive embed-responsive-16by9">
							<iframe src="{{ previewUrl }}"></iframe>
						</div>
					</div>
					<ul class="pager pull-left">
						<li><button class="btn btn-default" ng-click="gobackto3()">Back</button></li>
					</ul>
					<ul class="pager pull-right">
						<li><button class="btn btn-default" ng-click="create()">Create</button></li>
					</ul>	
				</div>
			</div>
		</div>
	</div>
</div>
