<div class="content-header">
	<div class="toolbar">
		<button class="btn btn-primary pull-right btn-accentuate" ui-sref="app.invoice_create">
			<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Invoice
		</button>
	</div>
	<h1><i class="icon-envelope"></i>Invoice overview</h1>
	<small>An overview of all your invoices</small>
</div>

<button class="btn btn-default pull-left btn-accentuate" ng-click="previous()"><span class="fa fa-chevron-left"></span></button>
<button class="btn btn-default pull-right btn-accentuate" ng-click="next()"><span class="fa fa-chevron-right"></span></button>
<h1 class="text-center">{{ year }}</h1>
<div class="clearfix">&nbsp;</div>

<div class="panel panel-default panel-margin" ng-show="invoices.length == 0">
	<div class="panel-body text-center">
		No invoices for this period
	</div>
</div>

<div class="panel panel-default" ng-init="getAllInvoices()" ng-show="invoices.length > 0">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Date</th>
					<th>Number</th>
					<th>Customer</th>
					<th style="width:5%;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="invoice in invoices">
					<td>{{ invoice.date.year }}-{{ invoice.date.month }}-{{ invoice.date.day }}</td>
					<td>{{ invoice.number }}</td>
					<td>{{ invoice.customer.name }}</td>
					<td class="fm-action-column">
						<div class="btn-group pull-right">
							<a target="_blank" href="/render/#!/invoice/{{ invoice.id }}"><span class="fa fa-download"></span></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>