<form role="form" name="companyForm" novalidate >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-ng-click="cancel()" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Company</h4>
		</div>
		<div class="modal-body">
			<div class="form-group" ng-class="{ 'has-error' : companyForm.name.$invalid && !companyForm.name.$pristine }">
				<label>Name</label>
				<input type="text" name="name" class="form-control" placeholder="Name" data-ng-model="company.name" required autofocus>
				<p ng-show="companyForm.name.$invalid && !companyForm.name.$pristine" class="help-block">The name of the company is required</p>
			</div>
		</div>
		<div class="modal-footer">
			<div class="pull-left" data-ng-show="isBusy">
				<i class="spinner"></i><span>{{ message }}</span>
			</div>
			<button type="button" class="btn btn-default" data-ng-click="cancel()">Close</button>
			<button type="submit" class="btn btn-primary" ng-disabled="companyForm.$invalid" data-ng-click="ok()">{{ newCompany ? 'Save' : 'Update' }}</button>
		</div>
	</div>
</form>