<h3>
	<button class="btn btn-primary pull-right" data-ng-click="openCompany()">
		<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Company
	</button>
	Companies
	<small>Manage your companies</small>
</h3>


<div class="panel panel-default" data-ng-init="getAllCompanies()">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th style="width:5%;"></th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="company in companies">
					<td>{{ company.name }}</td>
					<td class="fm-action-column">
						<div class="btn-group pull-right">
							<span data-ng-click="openCompany(company)" class="fa fa-pencil fa-hover ml-sm"></span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>