<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Search Company</h4>
	</div>
	<div class="modal-body">
		<ft-form-group ft-floating-label>
			<select class="form-control chosen-select"  chosen=""
				 	ng-model="company.id" ng-options="t.id as t.name for t in companies"
				 	width="'100%'" disable-search="true" data-placeholder=" ">
			</select>
			<label>Name</label>
		</ft-form-group>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
		<button type="submit" class="btn btn-primary" ng-click="ok()">Select</button>
	</div>
</div>
