<div class="content-header">
	<div class="toolbar">
		<button class="btn btn-primary pull-right btn-accentuate" ng-click="openTemplate()">
			<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Template
		</button>
	</div>
	<h1><i class="icon-docs"></i>Template overview</h1>
	<small>An overview of all your templates</small>
</div>

<div class="row" ng-init="getAllTemplates()">
	<div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="t in templates" ng-class="{'active': t.id === template.id }">{{ t.name }}
				<span class="pull-right fa fa-pencil" ng-click="openTemplate(t)"></span>
			</li>
		</ul>
	</div>
	<div class="col-md-9" >
		<div class="panel">
			<div class="panel-body">
		<form role="form" name="templateForm" novalidate >
			<ft-form-group ft-floating-label fm-add-error-for="templateForm.name">
			   <input type="text" name="name" ng-model="template.name" required class="form-control">
			   <label>Name</label>
			</ft-form-group>
			<ft-form-group ft-floating-label>
			   <textarea name="content" ng-model="template.content" rows="12" class="form-control"></textarea>
			   <label>Content</label>
			</ft-form-group>
			<button type="submit" ng-disabled="templateForm.$invalid" ng-click="saveTemplate()" class="btn btn-primary btn-block">Save</button>
		</form>
			</div>
		</div>
	</div>
</div>