/*
 * Time registration overview
 */

.fm-time-overview .list-group {
	cursor: pointer;
	margin-top: 30px;
}

.fm-time-overview .list-group .list-group-item {
	padding: 8px 15px;
}


/*
 * Time registration report
 */

.fm-time-report .btn-group > .btn:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.fm-time-report .btn-group > .btn:not(:first-child) {
	margin-left: -1px;
}

.fm-time-report .fm-time-infoperproject h4 {
	margin-top: 5px;
	margin-bottom: 0;
}
.fm-time-report .fm-time-infoperproject p {
	margin: 5px 0 0 0;
}
.fm-time-report .btn-group .dropdown {
	float: left;
}

/*
 * Time registration import
 */

.fm-time-import fieldset .form-group{
	margin-bottom: 10px;
}


/*
 * Time registration import
 */

.fm-time-export .date-selector{
 	float: left;
 	height: 33px;
}
.fm-time-export .btn-group > .date-selector:not(:first-child) {
	margin-left: -1px;
}
.fm-time-export .btn-group > .date-selector:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.fm-time-export .btn-group > .date-selector:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;	
}
.fm-time-export .btn-group > .btn:not(:first-child) {
	margin-left: -1px;
}
