<section data-ng-controller="ProjectsController" data-ng-init="getAllProjects()">

	<h1 class="text-center">
	    Projects
	</h1>

	<div class="fm-list project" data-ng-repeat="project in projects"
		ng-class="{ 'fm-hidden-project': project.hidden }">

	    <div class="btn-group pull-right">
	        <button type="button" class="btn btn-primary btn-xs" 
	        	data-ng-click="hideProject(project)" data-ng-show="!project.hidden">
	        	<span class="fa fa-close"></span>
	        </button>
	        <button type="button" class="btn btn-primary btn-xs" 
	        	data-ng-click="unhideProject(project)" data-ng-show="project.hidden">
	        	<span class="fa fa-check"></span>
	        </button>
	        <button type="button" class="btn btn-primary btn-xs" 
	        	data-ng-click="openProjectTasks(project)">
	        	<span class="fa fa-tasks"></span>
	        </button>
			<button type="button" class="btn btn-primary btn-xs" 
	        	data-ng-click="openProject(project)">
	        	<span class="fa fa-edit"></span>
	        </button>	        
	    </div>
	    <h3 class="panel-title hideOverflow">{{ project.name }}</h3>
	    <p class="list-group-item-text">{{ project.description }}</p>
	    <hr />
	</div>

	<button id="add-project" type="button" class="btn btn-primary pull-right" data-ng-click="openProject()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>	

</section>
